beautifulsoup4==4.6.0
pypiwin32==220; sys.platform == 'win32'
win32gui; sys.platform == 'win32'
dbus-python; sys.platform == 'linux'
PyQt5==5.9.2
requests==2.18.4
sip==4.19.8
xmltodict==0.11.0
psutil==5.4.3; sys.platform == 'win32'
unidecode==1.0.22
pylrc>=0.0.5