beautifulsoup4
pypiwin32==220; sys.platform == 'win32'
win32gui; sys.platform == 'win32'
dbus-python; sys.platform == 'linux'
sip
PyQt5
requests>=2.20.0
xmltodict
psutil; sys.platform == 'win32'
unidecode
pylrc
pathvalidate
